*.sublime-project
*.sublime-workspace
.vscode
todo.txt
reset-files.bash

*.tar.gz

*.exe
src/altbet
src/altbetd
src/altbet-cli
src/altbet-tx
src/test/test_altbet
src/qt/test/test_altbet-qt

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
confdefs.h
conftest.cpp
conftest.err
libtool
src/config/altbet-config.h
src/config/altbet-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist
contrib/devtools/split-debug.sh

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

src/leveldb/build_config.mk

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
.altbet
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
!accumulatorcheckpoints.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
altbet-qt
altbet-Qt.app

# Unit-tests
Makefile.test
altbet-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

#lcov
*.gcno
/*.info
test_altbet.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests-config.sh
qa/pull-tester/cache/*
qa/pull-tester/test.*/*

.cproject
.project
/doc/doxygen/
/nbproject/

.idea
cmake-build-debug

cache
*.autosave
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/TestCoin/v15/Browse.VC.db
.vs/TestCoin/v15/Browse.VC.opendb
.vs/TestCoin/v15/.suo
.vs/TestCoin/v15/ipch/AutoPCH/5a417e831afb7d67/RPCCONSOLE.ipch
.vs/TestCoin/v15/ipch/AutoPCH/230faa6774393955/SPORK.ipch
.vs/TestCoin/v15/ipch/AutoPCH/7dc2224f416fa45a/INIT.ipch
.vs/TestCoin/v15/ipch/AutoPCH/9cc5fd5614ca8b1f/PRIVACYDIALOG.ipch
.vs/TestCoin/v15/ipch/AutoPCH/b53876725ddf2ce3/SPORKDB.ipch
.vs/TestCoin/v15/ipch/AutoPCH/c9df9b97bb550533/CLIENTVERSION.ipch
.vs/TestCoin/v15/ipch/AutoPCH/11e899a798f730f/SPORK.ipch
.vs/TestCoin/v15/ipch/AutoPCH/2e4ae548809945e/PORT_WIN.ipch
.vs/TestCoin/v15/ipch/AutoPCH/73b16b6b76cdd07d/NET.ipch
.vs/slnx.sqlite-journal
.vs/VSWorkspaceState.json
.vs/TestCoin/v15/ipch/AutoPCH/aad4a014e16670b0/HASH.ipch
.vs/TestCoin/v15/ipch/AutoPCH/1629a0f4201e7848/BASE58.ipch
.vs/TestCoin/v15/ipch/AutoPCH/17240ac6ca8f0b4/NET.ipch
.vs/TestCoin/v15/ipch/AutoPCH/a874446581354429/KERNEL.ipch
.vs/TestCoin/v15/ipch/AutoPCH/7a2f323001c8c13/PARAMGENERATION.ipch
.vs/TestCoin/v15/ipch/AutoPCH/7a66e1bc673f5b56/MASTERNODEMAN.ipch
.vs/TestCoin/v15/ipch/AutoPCH/83984bc22773dcf3/RPCMINING.ipch
.vs/TestCoin/v15/ipch/AutoPCH/9faf28b2403d6db7/NET.ipch
.vs/TestCoin/v15/ipch/AutoPCH/ab2d1c1085bc76c4/ZEROCOIN_IMPLEMENTATION_TESTS.ipch
.vs/TestCoin/v15/ipch/AutoPCH/fb7872a8181d4424/MASTERNODE.ipch
.vs/TestCoin/v15/ipch/AutoPCH/2ee90cad7231aa2f/SKIPLIST_TEST.ipch
.vs/TestCoin/v15/ipch/AutoPCH/392c7ce33c8451d6/DB_BENCH.ipch
.vs/TestCoin/v15/ipch/AutoPCH/426ec8e2210f3c69/CORRUPTION_TEST.ipch
.vs/TestCoin/v15/ipch/AutoPCH/659b556d77029ea5/BLOOM_TEST.ipch
.vs/TestCoin/v15/ipch/AutoPCH/771604088a7bfe17/HISTOGRAM.ipch
.vs/TestCoin/v15/ipch/AutoPCH/7847d7495881321e/BITCOINGUI.ipch
.vs/TestCoin/v15/ipch/AutoPCH/ad6bc305d2c209ea/TABLE_TEST.ipch
.vs/TestCoin/v15/ipch/AutoPCH/b1a4f32c06396a44/PORT_WIN.ipch
.vs/TestCoin/v15/ipch/AutoPCH/b6ea97477288f6a/DB_TEST.ipch
.vs/TestCoin/v15/ipch/AutoPCH/cfb51ed16dc7906c/DB_BENCH_SQLITE3.ipch
.vs/TestCoin/v15/ipch/AutoPCH/da38c0d19848ff26/DB_BENCH_TREE_DB.ipch
.vs/TestCoin/v15/ipch/AutoPCH/f48c6ecc877dd948/LOG_TEST.ipch
.vs/TestCoin/v15/ipch/AutoPCH/a5d0aad1eb4eb653/KERNEL.ipch
.vs/TestCoin/v15/ipch/AutoPCH/2c3c180bda60d449/CLIENTVERSION.ipch
.vs/TestCoin/v15/ipch/AutoPCH/f5d9a2426939ef31/SPORK.ipch
.vs/TestCoin/v15/ipch/AutoPCH/2d4f56c9c40726ce/RPCWALLET.ipch
.vs/TestCoin/v15/ipch/AutoPCH/4b8b467bada96ab5/RPCMISC.ipch
.vs/config/applicationhost.config
.vs/TestCoin/v15/ipch/AutoPCH/16026bfb1496ff43/SPORK.ipch
.vs/TestCoin/v15/ipch/AutoPCH/2fe63b8b8b8f4882/BASE58.ipch
.vs/TestCoin/v15/ipch/AutoPCH/c45067b6196a0de8/BIP38.ipch
.vs/TestCoin/v15/ipch/AutoPCH/ca76d77ce86a9968/SPORK.ipch
.vs/TestCoin/v15/ipch/AutoPCH/e03b4767f8faa67f/SPORK.ipch
.vs/TestCoin/v15/ipch/AutoPCH/62ac2c8f9d1f6314/MASTERNODE-SYNC.ipch
.vs/TestCoin/v15/ipch/AutoPCH/cf0c7c47ef625142/SPORK.ipch
.vs/TestCoin/v15/ipch/AutoPCH/729b7d2c5c6255e9/MASTERNODE-SYNC.ipch
